<body>

    <div>
        <h2>All task lists</h2>
        <ul id="Todos"></ul>
    </div>
    <div>
        <h2>Search by ID</h2>
        <input type="text" id="todoId" size="5" />
        <input type="button" value="Search" onclick="find();" />
        <p id="todoItem" />
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = 'api/TodoLists';

    $(document).ready(function () {
      // Send an AJAX request
      $.getJSON(uri)
          .done(function (data) {
            // On success, 'data' contains a list of toDoLists.
            $.each(data, function (key, item) {
              // Add a list item for the ToDoList.
              $('<li>', { text: formatItem(item) }).appendTo($('#Todos'));
            });
          });
    });

    function formatItem(item) {
      return item.Title + ' | ' + item.Date;
    }

    function find() {
      var id = $('#todoId').val();
      $.getJSON(uri + '/' + id)
          .done(function (data) {
            $('#todoItem').text(formatItem(data));
          })
          .fail(function (jqXhr, textStatus, err) {
            $('#todoItem').text('Error: ' + err);
          });
    }
    </script>
</body>
